{% load static %}

<!DOCTYPE html>
<html>
  <head>
    {% block style %}
    {% endblock style %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Баскетбольный форум</title>
  </head>
  <body>
    <header>
      <h1>Баскетбольный форум</h1>
    </header>
    <nav>
      <ul>
        <li><a href="{% url 'main' %}" class="register-btn">Главная</a></li>
        <li><a href="{% url 'posts' %}">Посты</a></li>
        <li><a href="{% url 'rule' %}">Правила</a></li>
        <li><a href="{% url 'login' %}" >Вход</a></li>
        <li><a href="{% url 'register' %}" class="register-btn">Регистрация</a></li>
      </ul>
    </nav>
    <main>
  {% block content %}
  {% endblock content %}
    </main>
    <footer>
      <p>© 2023 Баскетбольный форум</p>
    </footer>
  </body>
</html>
