{% extends 'blog/base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/button.css' %}">
{% endblock style %}

{% block content %}
{% for posts in post %}
<h3>{{ posts.name }}</h3>
<hr>
<p>{{ posts.text }}</p>
<img src="{{ posts.photo.url }}">
<p>Категория:{{ posts.cat }}</p>
<p>Автор:{{ posts.author }}</p>
<div class="button-container">
    <button class="my-button"><a href="{% url 'single_post' posts.pk %}">Читать подробнее</a></button>
</div>
<hr>
{% endfor %}
{% endblock content %}