{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<h1>ПРАВИЛА ИГРЫ</h1>
<hr>
<p>В баскетболе на площадке играют 2 команды, по 5 человек от каждой. Игра состоит из 4 четвертей по 10 (в НБА – 12)
    минут каждая. Игра начинается со спорного вбрасывания в центре площадки, когда по одному игроку от команды должны
    правильно отбить мяч. Так же, после половины игры команды обязаны поменяться кольцами.
    Основная задача – забросить как можно больше мячей в кольцо оппонента и не дать противнику забросить в свое кольцо.
    Побеждает та команда, забросившая за игровой период больше очков в корзину оппонента. В случае если команды имеют
    равный счет в основное время, назначается овертайм (по 5 минут). Если по истечению первого овертайма счет
    одинаковый, проводится второй, третий и т.д., пока одна из команд не забросит больше мячей противнику.</p>
<h2>Очки начисляются по следующим пунктам:</h2>
<hr>
<p>1 очко начисляется за попадание штрафного броска;</p>
<p>2 очка начисляется за попадание с дистанции, находящаяся в пределах трехочковой линии;</p>
<p>3 очка начисляется за попадание с трехочковой линии и за ее пределами.</p>
<hr>
<p>Допускается играть исключительно руками. Бежать с мячом в руках, пинать, намерено останавливать ногами считается
    нарушением. Случайный контакт ноги с мячом нарушением не является.
    Спорный мяч – ситуация, когда баскетболисты играющих команд команд не могут завладеть мячом без грубых действий. При
    такой ситуации мяч разыгрывается в ближайшем кругу между этими игроками. Если спорный мяч застревает в кольце при
    броске, спорный мяч разыгрывается между любыми игроками из противоположных команд.</p>
<p>У каждой команды в наличие имеется 7 таймаутов. Тренер распоряжается по своему усмотрению.</p><p></p>
<p>Количество замен в баскетболе не ограничено.</p>
<p>Каждый игрок имеет право на 5 (в НБА 6) персональных нарушений. В случае перебора фолов игрок удаляется с площадки до
    конца встречи.</p>
<h2>НАРУШЕНИЯ</h2>
<hr>
<p>Аут – мяч вылетает за пределы площадки. Мяч вводится противоположной командой из-за пределов площадки;</p>
<p>Пробежка – когда игрок, владеющий мячом, совершает движение ног сверх положенного, касается как игрока в движении,
    так и игрока без движения;</p>
<p>Двойное ведение – задержка мяча у игрока, выполняющего дриблинг. Нарушение часто сопоставляют с пробежкой;</p>
<p>3 секунды в атаке – игрок атакующей команды находится в трехсекундной зоне 3 и более секунд;</p>
<p>3 секунды в защите – игрок защищающейся команды находится в трехсекундной зоне 3 и более секунд;</p>
<p>8 секунд – когда атакующий игрок не успевает вывести мяч за половину своей части площадки;</p>
<p>24 секунды – атакующая команда не успевает закончить атаку в отведенное время (24 секунды);</p>
<p>Нарушение центральной линии (Средняя) – игрок атакующей команды возвращает мяч на свою половину площадки;</p>
<p>Нарушение плотноопекаемого игрока – игрок с мячом не бросает, не начинает дриблинг, не пасует в течение 5 секунд при
    плотной опеке оппонента;</p>
<p>Касание мяча в защите – защищающийся игрок касается мяча при движении мяча по нисходящей траектории;</p>
<p>Прыжок с мячом – игрок во время прыжка и до приземления не атакует кольцо/не пасует;</p>
<h2>ФОЛЫ</h2>
<hr>
<p>Фол – не соблюдение правил игроком или тренером, касающиеся действий на площадке либо поведением за ее пределами.</p>
<h3>Фолы подразделяются на:</h3>
<p>Персональный фол – нарушение при прямом контакте с игроком.</p>
<h4>Наказание:</h4>
<p>Если фол совершен при броске, то назначается 2 или 3 штрафных броска, в зависимости от той части площадки, где
    совершен бросок (в пределах трехочковой линии или за ее пределами).</p>
<p>Если игрок попадает бросок при фоле, то
    попадание засчитывается и назначается 1 штрафной бросок.</p>
<p> Если команда не набрала 5 командных фолов, то игра
    начинается с вбрасывания с границы
    площадки.</p>
<p>Если команда набрала 5 и более командных фолов, то независимо от того,
    в какой части площадки назначен фол, игрок, на котором сфолили, исполняет 2 штрафных.</p>
<p>Неспортивный фол – фол, не связанный с борьбой за мяч, когда игрок не пытается сыграть в мяч (удары противника,
    задержка движения)</p>
<h4>Наказание:</h4>
<p>Пострадавший баскетболист исполняет 2 штрафных броска с последующим вбрасыванием пострадавшей команды из-за пределов
    площадки.</p>
<p>Игрок, совершивший 2 неспортивных нарушения, удаляется.</p>
<p>Технический фол – фол, не связанный с контактом при игре. Это задержка игры, споры с судьями, ненормативная лексика
    в отношении игроков, судей или тренеров.</p>
<h4>Наказание:</h4>
<p>Любой баскетболист пострадавшей команды имеет право на 2 штрафных, после чего мяч вводится в игру из-за пределов
    площадки пострадавшей командой.</p>
<p>Нужно отметить, что технический фол может получить как игрок, находящийся непосредственно на площадке, так и
    запасной игрок, либо тренер команды. Игрок или тренер, получивший 2 технических, удаляется до конца встречи.</p>
<p>Дисквалифицирующий фол – фол, вызванный агрессивным неспортивным поведением.</p>
<h4>Наказание:</h4>
<p>Процедура такая же, как при неспортивном нарушении.</p>
<p>Дисквалифицирующий фол получает как игрок на площадке, так и тренер или представитель команды. После такого фола
    человек сразу же удаляется с площадки.</p>
{% endblock %}